.home-container {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-image {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el área */
  object-position: center; /* Centra la imagen */
}

.info-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #010724, #0755A9, #48B52C, #003418);
  color: white;
  padding: 20px;
  gap: 20px; /* Agrega espacio entre las columnas */
}


.column {
  padding: 10px;
}

.first-column {
  width: 10%;
}

.image-column {
  width: 30%;
  display: flex;
  align-items: center;
}

.image-column img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.description-column {
  width: 40%;
}

.details-column {
  width: 20%;
}

.details-column p {
  margin: 10px 0;
}

.fifth-column {
  width: 10%;
}

.description-column p {
  margin: 10px 0;
}

/* Ajustar los márgenes entre columnas */
.image-column, .description-column, .details-column {
  margin: 0 20px; /* Ajusta el valor según el espacio deseado */
}

html {
  overflow: auto; /* Permite el desplazamiento */
}

html::-webkit-scrollbar {
  width: 0px; /* O ocultar la barra de desplazamiento */
  background: transparent; /* Asegura que no haya espacio para la barra */
}

html {
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Edge */
}

